
a:link,
a:visited {
  background-color: #f44336;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  float: right;
  margin-top: 4px;
>>>>>>> 59f6ff4660eec2a1ebddc144576f3451d9896484
}

img .image1 {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}

h2,
h1,
a:link,
a:visited {
  display: inline;
  vertical-align: 10%;
}

<<<<<<< HEAD
h1{
    font-family: 'Barriecito', cursive;
    font-size: 4em;
    padding: 8px;
=======
h1 {
  display: flex-start;
  font-family: "Barriecito", cursive;
  font-size: 3em;
  padding: 8px;
}
h6{
  font-size:20px;
  text-align:center;
 color:#98BFB8;
>>>>>>> 59f6ff4660eec2a1ebddc144576f3451d9896484
}

h2 {
  font-family: "Mountains of Christmas", cursive;
  justify-content: flex-start;
}

header{
  margin:2px;
}

img{
    max-width: 100%;
   height: auto;
   position: relative;
   left: 50%;
   transform: translateX(-50%);
}
